.navbar-dark .navbar-nav .nav-link{
  color: rgb(255 255 255) !important;
  font-weight: 400;
}

.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

#growth{
  height: 50vh;
  width: 70vh;
  object-fit: cover;
}
